# Ignore node_modules directory
node_modules/

# Ignore .pnp.cjs and .pnp.loader.mjs files
.pnp.cjs
.pnp.loader.mjs

# Ignore yarn.lock file
yarn.lock

# Ignore .idea directory
.idea/

# Ignore .yarn directory
.yarn/

# Ignore any files generated during the build
/dist/
/build/

# Ignore any local configuration specific to your machine or development environment
.env

# Ignore any sensitive or temporary files
*.log
*.tmp

# Ignore any backup files
*~

# Ignore any user-specific files or directories
.DS_Store
Thumbs.db
